<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.pigassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<!-- <test name="entity"> -->
	<!-- <classes> -->
	<!-- <class name="idv.hsiehpinghan.pigassistant.entity.TestTable2Test" /> -->
	<!-- </classes> -->
	<!-- </test> -->
	<!-- <test name="repository"> -->
	<!-- <classes> -->
	<!-- <class -->
	<!-- name="idv.hsiehpinghan.pigassistant.repository.TestTable2RepositoryTest" 
		/> -->
	<!-- </classes> -->
	<!-- </test> -->
	<test name="assistant">
		<classes>
			<class name="idv.hsiehpinghan.pigassistant.assistant.PigAssistantTest" />
		</classes>
	</test>
</suite>