<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="test_1">
		<classes>
			<class name="idv.hsiehpinghan.nanohttpdassistant.suit.TestngSuitSetting" />
			<class name="idv.hsiehpinghan.nanohttpdassistant.server.MockHtmlServerTest" />
		</classes>
	</test>
</suite>