<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">
	<test name="suit">
		<classes>
			<class name="idv.hsiehpinghan.rassistant.suit.TestngSuitSetting" />
		</classes>
	</test>
	<test name="assistant">
		<classes>
			<class name="idv.hsiehpinghan.rassistant.assistant.RAssistantTest" />
			<class name="idv.hsiehpinghan.rassistant.assistant.TTestAssistantTest" />
			<class
				name="idv.hsiehpinghan.rassistant.assistant.WilcoxonTestAssistantTest" />
			<class
				name="idv.hsiehpinghan.rassistant.assistant.UniformDistributionAssistantTest" />
		</classes>
	</test>
</suite>